*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}


a{
    text-decoration: none;
    color: #555;
}
a:hover{
    color: #f6a819;
}
.cart-icon:hover{
    color: #f6a819;
}
p{
    color: #555;
}

.container{
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    width: 600px;
    padding: 5px 0;
    margin-left: 50px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;

}
.header{
    background: radial-gradient(#fdeded,#ffead6);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-4{
    flex-basis: 10%;
    min-width: 200px;
    margin-bottom: 30px;
    padding: 10px;

}
.col-4 img{
    width: 100%;

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-5{
    flex-basis: 15%;
    padding: 5px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s ease;
    border: solid rgba(2, 174, 174, 0.64);
    box-shadow: 0 2px 4px rgb(0, 213, 213);
    border-radius: 20px;
    text-align: center;
    
}
.col-5 img{
    width: 100%;
    
}
.col-5 .add-to-cart-btn{
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 30px;
}
.col-5 .add-to-cart-btn:hover{
    background-color: #306f34;
}
.col-5 .add-to-cart-btn.clicked{
    transform: scale(1.2);
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-5 p{
    font-size: 14px;
}

.rating .fa-star{
    color: #f6c848;
}
.rating .fa-star-half-stroke{
    color: #f6c848;
}
.col-5:hover{
    
    transform: scale(1.1);
}

.offer{
    background: radial-gradient(#fdeded,#ffead6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    width: 400px;
    align-items: center;
}
.btn-1{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border: none;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn-1:hover{
    background: #563434;;
}
.price-container {
    position: relative;
}

.original-price {
    text-decoration: line-through;
    color: red; /* Optional: Change the color of the crossed-out text */
}

small{
    color: #555;
}


.brands{
    margin: 100px auto;

}
.col-6{
    width: 160px;
}
.col-6 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-6 img:hover{
    filter: grayscale(0);
}
.footer{
    background: #1b1b1b;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color:#8a8a8a
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}
   

.footer-col-1{
    flex-basis: 30%;
    flex: 1;
    text-align: center;
}
.footer-col-1 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-2, .footer-col-3{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer-col-2 ul a{
    text-decoration: none;
    color: #8a8a8a;
}
.footer-col-2 ul a:hover{
    color: #fff;
    text-decoration: underline #fff;
}
.footer-col-3 ul a{
    text-decoration: none;
    color: #8a8a8a;
}
.footer-col-3 ul a:hover{
    color: #fff;
    text-decoration: underline #fff;
}


.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

  /* Style for the button that triggers the dropdown */
.dropbtn-1{
    background-color: #0241be;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn-2{
    background-color: #1ac803;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn-3{
    background-color: #cdb903;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn-4{
    background-color: #7e02e3;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn-5{
    background-color: #e30251;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

  /* Style for the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

  /* Style for the dropdown items */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Change color on hover */
.dropdown-content a:hover {
    background-color: #e0e0e0;
    color: teal;
    font-weight: 600;
}

  /* Show the dropdown when the button is hovered or focused */
.dropdown:hover .dropdown-content {
    display: block;
}
.quantity-container {
    display: flex;
    align-items: center;
}
  
.quantity-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
}
.quantity-btn:hover {
    background-color: #45a049;
}
  
.quantity {
    margin: 0 10px;
}

/*----------media query for menu------------*/
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .dropbtn{
        text-align: center;
    }
}
/*---All Category page----*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
.row-2 h2{
    font-size: 20px;
}









/*----------media query for less than 600 screen size------------*/

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-4, .col-5{
        flex-basis: 70%;
    }
    .dropbtn{
        margin-left: 80px;
    }
}




